html, body {
	height:100%;
}

header{
	display:block;
	background:#d7e0e9;
	padding:10px 0px;
}
section{
	width: 79%;
	float: left;
	overflow: auto;
	padding-bottom: 60px;
	padding-top: 30px;
}

aside{
	float: right;
	border: 1px solid red;
	width: 19%;
}

footer{
	position: relative;
	margin-top: -50px;
	heigth: 40px;
	padding: 5px 0px;
	clear: both;
	background: blue;
	text-align: center;
	color: #fff;
}
